  .containers { 
    padding: 20px;
  }
  
  .frase-pagina{
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    color: var(--text-color-primary);
    font-size: 30px;
    float: left;
  }
  
  .texto-pagina{
    margin-top: 0px;
  }
  
  .cor-diferente{
    color: var(--emphasis-color);
  }
  
  .animate__animated.animate__swing {
    --animate-duration: 6s;
  }
  
