.container-principal {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flexbox;
}

.container-forms {
  z-index: 5;
  margin-top: 3%;
  width: 35%;
  margin-left: 8%; 
  background-color: var(--tertiary-color);
  border-radius: 10px;
  float: left;
  padding: 2%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.titulo-forms{
  color: var(--text-color-primary);
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.input-forms{
  background-color: var(--text-color-primary);
  font-size: 14px;
  border-style: none;
  border-radius: 10px;
  margin-top: 2%;
  padding: 10px;
  width: 70%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.input-forms:focus{
  outline: none;
  background-color: var(--text-focus-primary);
}	

.label-forms{
  color: var(--text-color-secondary);
  margin-top: 2%;
  margin-bottom: 0px;
  font-size: 18px;
}

.button-forms{
  background-color: var(--emphasis-color);
  color: var(--text-color-primary);
  font-weight: 600;
  width: 35%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 0px;
  border-style: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-forms:hover{
  cursor: pointer;
  background-color: var(--emphasis-color-selected);
}	

.menu {
  background-color: var(--secondary-color);
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: right;
}

.menu-item {
  color: var(--text-color-primary);
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.menu-item:hover {
  color: var(--text-focus-primary);
}
