.titulo-site {
  color: var(--emphasis-color);
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  width: 100px;
}

.header-content{
  height: 100%;
  width: 50%;
  margin-left: 48%;
  margin-right: 0px;
}

.user-name-header{
  float: right;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 30px;
  color: var(--text-color-primary);
}

.avatar-user-header{
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  width: 40px;
  border-radius: 20px;
}

.menu-button-sair{
  float: right;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 50px;
  color: var(--text-color-primary);
}

.menu-button-sair:hover {
  color: var(--text-focus-primary);
}

.container-geral {
  height: 85vh;
  float: left;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.container-pessoas {
  width: 20%;
}

.container-chat {
  width: 35%;
  margin-left: 1%;
}

.container-posts {
  width: 43%;
  margin-left: 1%;
}

.titulo-container {
  background-color: var(--secondary-color);
  height: 5%;
  min-height: 26px;
  margin-top: 0px;
  border-radius: 10px 10px 0px 0px;
}

.texto-titulo-container {
  color: var(--text-color-primary);
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.container-lista-pessoas {
  height: 75vh;
  width: 100%;
  overflow-y: auto;
}

.container-search-room{
  width: 100%;
  background-color: var(--tertiary-color);
  height: 35px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--quaternary-color);
}

.icons-search-add{
  float: left;
  filter: invert();
  height: 100%;
}

.button-search-add{
  float: left;
  cursor: pointer;
  margin-top: 5px;
  height: 25px;
  border-style: none;
  background-color: transparent;
}

.button-search{
  margin-left: 10px;
}

.button-add{
  margin-left: 65%;
}

.item-lista-pessoas {
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--quaternary-color);
  width: 100%;
}

.icon-pessoa {
  margin-top: 5px;
  margin-left: 10px;
  width: 40px;
  border-radius: 20px;
  float: left;
}

.texto-nome-pessoa {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  width: 65%;
  vertical-align: middle;
  line-height: 50px;
  color: var(--text-color-primary);
  float: left;
}

.texto-vazio {
  font-size: 18px;
  text-align: center;
  color: var(--text-color-primary);
}

.container-chat-texto {
  float: left;
  height: 15%;
  width: 100%;
}

.textarea-mensagem {
  float: left;
  resize: none;
  overflow-y: auto;
  margin-left: 2%;
  margin-top: 2%;
  width: 75%;
  font-family: "Sora", sans-serif;
  background-color: var(--text-color-primary);
  border-radius: 10px;
}

.button-enviar {
  float: left;
  background-color: var(--emphasis-color);
  color: var(--text-color-primary);
  font-weight: 600;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  margin-left: 2%;
  margin-top: 5%;
  width: 70px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-enviar:hover {
  cursor: pointer;
  background-color: var(--emphasis-color-selected);
}

.container-chat-mensagens {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  justify-content: flex-end;
  flex-direction: column;
}

.container-mensagem-enviada {
  margin-top: 10px;
  margin-left: 54%;
  width: 40%;
  background-color: var(--emphasis-color);
  border-radius: 10px;
  padding: 10px;
}

.text-mensagem-enviada {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  width: 100%;
  word-break: break-word;
  text-align: right;
  color: var(--text-color-primary);
}

.container-mensagem-recebida {
  margin-right: 52%;
  margin-top: 10px;
  margin-left: 2%;
  width: 40%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

.text-mensagem-recebida {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  width: 100%;
  word-break: break-word;
  text-align: left;
  color: var(--text-color-primary);
}

.user-mensagem-recebida{
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color-primary);
}

.textarea-post {
  float: left;
  resize: none;
  overflow-y: auto;
  margin-left: 2%;
  margin-top: 2%;
  width: 80%;
  font-family: "Sora", sans-serif;
  background-color: var(--text-color-primary);
  border-radius: 10px;
}

.container-textarea-post {
  background-color: var(--secondary-color);
  height: 16%;
  min-height: 85px;
  width: 100%;
}

.minicontainer-post {
  float: left;
  margin-top: 12px;
  margin-left: 2%;
}

.button-post {
  background-color: var(--emphasis-color);
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  margin-top: 0px;
  width: 70px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-post:hover {
  cursor: pointer;
  background-color: var(--emphasis-color-selected);
}

.characters-left {
  font-size: 14px;
  margin-top: 5px;
  color: #f2ebe9af;
}

.characters-left-ending {
  font-size: 14px;
  margin-top: 5px;
  color: #f66b0e;
}

.container-card-post {
  width: 100%;
  height: 78%;
  overflow-y: auto;
}

.card-post {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: auto;
  border-bottom-style: solid;
  border-bottom-color: var(--secondary-color);
  border-bottom-width: 1px;
}

.card-post-left-img{
  float: left;
  width: 10%;
}

.card-post-right-content{
  float: left;
  width: 86%;
}

.card-username {
  color: var(--text-color-primary);
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
}

.icon-post {
  margin-top: 8px;
  margin-left: 30%;
  width: 30px;
  border-radius: 15px;
  float: left;
}

.card-post-footer{
  width: 100%;
}

.icon-like{
  filter: invert();
  width: 16px;
  float: left;
  background-color: transparent;
  cursor: pointer;
}

.icon-delete{
  filter: invert();
  width: 16px;
  float: right;
  background-color: transparent;
  cursor: pointer;
}

.like-count{
  font-size: 12px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  float: left;
  color: var(--text-color-primary);
}

.text-post-content {
  width: 100%;
  word-wrap: break-word;
  color: var(--text-color-primary);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-modal{
  background-color: var(--tertiary-color);
  height: 30%;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
  display: inline-block;
  border-radius: 10px;
}

.modal-title{
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

.modal-title-text{
  font-size: 30px;
  font-weight: 600;
  margin-top: 0px;
  color: var(--text-color-primary);
}

.modal-input{
  width: 100%;
}

.modal-input-text{
  float: left;
  font-size: 20px;
  margin-left: 10px;
  background-color: var(--text-color-primary);
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border-style: none;
}

.modal-input-button{
  float: left;
  cursor: pointer;
  margin-left: 2%;
  background-color: var(--emphasis-color);
  color: var(--text-color-primary);
  font-weight: 600;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.modal-input-button:hover{
  background-color: var(--emphasis-color-selected);
}

.searchbar-input-text{
  float: left;
  font-size: 13px;
  color: var(--text-color-primary);
  margin-left: 30px;
  margin-top: 10px;
  background-color: transparent;
  width: 20%;
  height: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--emphasis-color);
}

.searchbar-input-button{
  float: left;
  cursor: pointer;
  margin-top: 12.5px;
  height: 25px;
  border-style: none;
  background-color: transparent;
}

.p-modal{
  color: var(--text-color-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

.container-conjunto-modal{
  width: 100%;
  float: left;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.modal-input-text-usuario{
  float: left;
  font-size: 20px;
  background-color: var(--text-color-primary);
  width: 60%;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border-style: none;
}