.titulo-site {
  color: #a85cf9;
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  width: 100px;
}

.container-geral {
  height: 85vh;
  float: left;
  border-radius: 10px;
  background-color: #565275;
}

.container-pessoas {
  width: 20%;
}

.container-chat {
  width: 35%;
  margin-left: 1%;
}

.container-posts {
  width: 43%;
  margin-left: 1%;
}

.titulo-container {
  background-color: #252142;
  height: 5%;
  margin-top: 0px;
  border-radius: 10px 10px 0px 0px;
}

.texto-titulo-container {
  color: #b3e8e5;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.container-lista-pessoas {
  height: 80vh;
  overflow-y: auto;
}

.item-lista-pessoas {
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f2ebe99c;
  width: 100%;
}

.icon-pessoa {
  margin-top: 5px;
  margin-left: 10px;
  width: 40px;
  border-radius: 20px;
  float: left;
}

.texto-nome-pessoa {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  width: 65%;
  vertical-align: middle;
  line-height: 50px;
  color: #f2ebe9;
  float: left;
}

.texto-vazio {
  font-size: 18px;
  text-align: center;
  color: #f2ebe9;
}

.container-chat-texto {
  float: left;
  height: 15%;
  width: 100%;
}

.textarea-mensagem {
  float: left;
  resize: none;
  overflow-y: auto;
  margin-left: 2%;
  margin-top: 2%;
  width: 75%;
  font-family: "Sora", sans-serif;
  background-color: #f2ebe9;
  border-radius: 10px;
}

.button-enviar {
  float: left;
  background-color: #a85cf9;
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  margin-left: 2%;
  margin-top: 5%;
  width: 70px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-enviar:hover {
  cursor: pointer;
  background-color: #5534a5;
}

.container-chat-mensagens {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.container-mensagem-enviada {
  margin-top: 10px;
  margin-left: 54%;
  width: 40%;
  background-color: #1363df;
  border-radius: 10px;
  padding: 10px;
}

.text-mensagem-enviada {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  width: 100%;
  text-align: right;
  color: #f2ebe9;
}

.container-mensagem-recebida {
  margin-right: 52%;
  margin-top: 10px;
  margin-left: 2%;
  width: 40%;
  background-color: #252142;
  border-radius: 10px;
  padding: 10px;
}

.text-mensagem-recebida {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  width: 100%;
  text-align: left;
  color: #f2ebe9;
}

.textarea-post {
  float: left;
  resize: none;
  overflow-y: auto;
  margin-left: 2%;
  margin-top: 2%;
  width: 80%;
  font-family: "Sora", sans-serif;
  background-color: #f2ebe9;
  border-radius: 10px;
}

.container-textarea-post {
  background-color: #252142;
  height: 85px;
  width: 100%;
}

.minicontainer-post {
  float: left;
  margin-top: 12px;
  margin-left: 2%;
}

.button-post {
  background-color: #a85cf9;
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  margin-top: 0px;
  width: 70px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-post:hover {
  cursor: pointer;
  background-color: #5534a5;
}

.characters-left {
  font-size: 14px;
  margin-top: 5px;
  color: #f2ebe9af;
}

.characters-left-ending {
  font-size: 14px;
  margin-top: 5px;
  color: #f66b0e;
}

.container-card-post {
  width: 100%;
  overflow-y: auto;
}

.card-post {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-post-left-img{
  float: left;
  width: 10%;
}

.card-post-right-content{
  float: left;
  width: 80%;
}

.card-username {
  color: #f2ebe9;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
}

.icon-post {
  margin-top: 10px;
  margin-left: 30%;
  width: 30px;
  border-radius: 15px;
  float: left;
}

.text-post-content {
  color: #f2ebe9;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}
